---
import LinkedinLogo from "./LinkedinLogo.astro";
import GithubLogo from "./GitHubLogo.astro";
import "./contactInfo.css";
---

<div class="contact_info_container">
  <div class="linkedin">
    <a href="https://www.linkedin.com/in/dieghoatc/"><LinkedinLogo /></a>
  </div>
  <div class="github">
    <a href="https://github.com/Dieghoatc"><GithubLogo /></a>
  </div>
  <div class="curriculum_vitae">
    <a href="docs/cv_es.pdf" target="_blank">
      <div class="curriculum_vitae_link"><b>cv</b></div>
    </a>
  </div>
</div>
