---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Dieghoatc - Blog">
  <div class="blog_container">
    <article>
      <h3>Primer blog</h3>
    </article>
  </div>
</SiteLayout>
