---
import Hero from "./components/hero/Hero.astro";
import "./header.css";
import ContactInfo from "./components/contact/ContactInfo.astro";
---

<div class="header_contaiener">
  <div>
    <Hero />
  </div>
  <div class="contact_info">
    <ContactInfo />
  </div>
</div>
