---
import "./footer.css";
---

<footer>
  <div class="social-media">
    <a href="#youtube">YouTube</a>
    <a href="#twitter">X</a>
    <a href="#tiktok">TikTok</a>
    <a href="#instagram">Instagram</a>
  </div>
  <p>&copy; 2024 Dieghoatc.</p>
</footer>
